@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Montserrat:wght@600&display=swap');



.Top{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    padding-top: 12px;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;

}